.hero-img {
    position: relative;
}

@media (min-width: 576px) {
    .product-card {
        width: calc(50% - 6px);
    }
}


@media (max-width: 991px) {
    #hero {
        background: none !important;
        height: auto !important;
        padding-top: 0 !important;
        padding-bottom: 0 !important;
    }

    .hero-img img {
        max-width: 100%;
        height: auto;
        display: block;
    }

    .hero-text-overlay {
        position: absolute;
        top: 70%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        z-index: 5;
        width: 100%;
        padding: 0 20px;
    }

    .hero-text-overlay h1 {
        font-size: 20px;
        line-height: 1.2;
        margin-bottom: 10px;
    }

    .hero-text-overlay h3 {
        font-size: 16px;
        line-height: 1.3;
        margin-bottom: 0;
    }
}
.hidden{
    display: none !important;
}
